<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.healthmanage.update.mapper.HmVersionInfoMapper">
    <resultMap id="hmVersionInfo" type="org.jeecg.modules.healthmanage.update.entity.HmVersionInfo" >
        <result column="id" property="id" />

        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />

        <result column="update_time" property="updateTime" />
        <result column="versionCode" property="versioncode" />

        <result column="versionName" property="versionname" />
        <result column="content" property="content" />

        <result column="minSupport" property="minsupport" />
        <result column="url" property="url" />

    </resultMap>

    <select id="maxHmVersionInfo"    resultMap="hmVersionInfo">
       select * from hm_version_info
        <trim prefix="WHERE" prefixOverrides="AND | OR" >

            <if test="versionName != null and versionName != ''">
                AND versionName = #{versionName,jdbcType=VARCHAR}
            </if>

        </trim>
       order by versionCode desc limit 1

    </select>
</mapper>